In [21]:
import seaborn as sns
import pandas as pd

In [22]:
df = pd.read_csv('./Data Collection/Combined_df.csv', index_col = 'county')
jack = pd.read_csv('./Data Collection/Jacks_df.csv', index_col = 'county_name')
jack.drop(columns = 'Unnamed: 0', inplace = True)

In [46]:
df['total_pop_2020'] = df['total_female_2020']

KeyError: 'Population'

In [23]:
jack.head()

,2012_unemp,2016_unemp,2020_unemp,2012_var_state,2016_var_state,2020_var_state,median_income_2012_2016_16_dollars,median_income_2020_16_dollars
county_name,,,,,,,,
Anderson,0.036,0.043,0.056,-0.029,-0.005,-0.012,42146,44871
Andrews,0.031,0.047,0.082,-0.034,-0.001,0.014,70121,69369
Angelina,0.051,0.059,0.076,-0.014,0.011,0.008,44185,47917
Aransas,0.068,0.056,0.085,0.003,0.008,0.017,44851,49153
Archer,0.034,0.043,0.053,-0.031,-0.005,-0.015,62407,59010

In [ ]:
w = sns.catplot(x='variable', y='coefficient', data=corrs, kind='bar', height=8, aspect=2)

In [37]:
df['2020_unemp'].corr(df['median_income_2020_16_dollars'])

-0.13803096258074984

In [42]:
df.isna().sum().sort_values(ascending = False)

black_total_2016_48 to 57     1
black_female_2020_28 to 37    1
other_total_2020_28 to 37     1
other_total_2020_18 to 27     1
other_total_2016_88 to 97     1
                             ..
2016_rep_vote_counte          0
2020_votes_total              0
2020_oth_vote_perc            0
2020_oth_vote_count           0
2012_unemp                    0
Length: 421, dtype: int64